body {
  background-color: #252525;
}

/* Navbar */

.custom-nav {
  background-color: #af0404;
}

.custom-brand {
  color: #414141;
}

/* Login/Register */

.login {
  background-color: grey;
  margin: 3% auto 3%;
  padding: 3% 4% 3%;
  width: 90%;
  text-align: center;
}

.fa-ghost {
  padding: 3%;
}

.custom-btn {
  background-color: #af0404;
  border-color: black;
  color: black;
}

a.custom-btn {
  margin-top: 2%;
  text-align: center;
}

a.custom-btn:hover {
  background-color: #ff0000;
}

button.custom-btn:hover {
  background-color: #ff0000;
  color: black;
  border-color: black;
}

/* Input Component */

.custom-input {
  margin: 2% 0;
}

/* Footer */

footer {
  background-color: #414141;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  margin: auto;
}
